.app {
  height: 100vh;
  width: 100vw;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.mt {
  margin-bottom: 1.5vw;
}
